/* -------------------------------------------- */
/* Universal style */
/* -------------------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* -------------------------------------------- */
/* Navigation */
/* -------------------------------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: hsl(36, 100%, 99%);
    padding: .5rem 5%;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
ul li a{
    display: block;
    margin: 0 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: hsl(236, 13%, 42%);
    transition: 0.3s;
}
ul li a:hover{
    color: hsl(5, 85%, 63%);
}
.menu{
    display: none;
}


/* -------------------------------------------- */
/* SECTION 1 */
/* -------------------------------------------- */
.big-1,.small-1{
    margin-top: 0;
}
.big-img-1{
    width: 100%;
    height: 45vh;
    /* height: 40vh; */
    display: block;
}
.big-img-1 img{
    width: 100%;
    height: 100%;
}
.small-text-1{
    padding: 10% 5%;
    height: 80vh;
    background: hsl(240, 100%, 5%);
}
.new{
    color: hsl(35, 77%, 62%);
}
.small-text-1 .h4-2{
    color: hsl(36, 100%, 99%);
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1rem;
}
.small-text-1 p{
    color: hsl(36, 100%, 99%);
    font-size: 14px;
    margin-bottom: 2rem;
}
hr{
    background-color: hsl(36, 100%, 99%) ;
    height: 1px;
    border: none;
}
.sub-text{
    margin: 0;
    padding: 3%;
    /* border: 1px solid red; */
    height: 40vh;
}
.sub-h1{
    font-size: 3.4rem;
    word-spacing: 4px;
    font-weight: 800;
    color: hsl(240, 100%, 5%) ;
}
.sub-text-p{
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1.4px;
}
button{
    padding: .8rem 2.5rem;
    background: hsl(5, 85%, 63%);
    border: 0;
    color: hsl(36, 100%, 99%) ;
    letter-spacing: 3px;
    margin-top: 2rem;
}

/* -------------------------------------------- */
/* SECTION 2 */
/* -------------------------------------------- */
.sec2-row{
    width: 95%;
    margin: 0 auto;
}
.sec2-img{
    /* width: 100%; */
    height: 9rem;
    display: block;
}
.sec2-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.sec2-text{
    /* border: 1px solid red; */
    height: 9rem;
    overflow: hidden;
}
.sec2-h2{
    color:hsl(236, 13%, 42%) ;
    margin-bottom: .7rem;
    font-size: 1.8rem;
}
.sec2-h4{
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: .7rem;
    transition: .4s;
    cursor: pointer;
}
.sec2-h4:hover{
    color: hsl(5, 85%, 63%);
}
.sec2-p{
    font-size: 15px;
    line-height: 1.5;
}






/* -------------------------------------------- */
/* AT 900PX SCREEN SIZE */
/* -------------------------------------------- */

@media screen and (max-width : 900px) {
    .menu{
        display: block;
        transition: 0.4s;
    }
    .menu .line{
        background: black;
        width: 30px;
        height: 3px;
        margin: 6px 0;
    }
    .menu.active .line:nth-child(2){
        opacity: 0;
    }
    .menu.active .line:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .menu.active .line:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
    .nav-bar{
        position: absolute;
        top: 60px;
        right: 0;
        /* left: 0; */
        width: 50%;
        height: 90%;
        /* background: red; */
        background: white;
        overflow: hidden;
        transition: 0.5s;
        left: -100%;
    }
    .nav-bar.active{left: 50%;}
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 5% auto;
        opacity: 0;
    }
    .nav-bar.active ul{opacity: 1;}
    .nav-bar ul li a{
        margin-bottom: 3rem ;
        text-align: center;
    }

    .span-9-of-12,
    .span-1-of-2,
    .span-3-of-12{
        width: 100%;
        margin: 0;
    }
    .span-1-of-9,.span-2-of-9{
        margin: 0;
        width: 48%;
    }
    button{
        margin-top: 1rem;
    }
    .sec2-img,.sec2-text{
        margin-top: 1rem;
    }
    .sec2-text{
        padding-left: .4rem;
    }
    .sub-text,
    .small-text-1{
        height: auto;
    }


}
